<div class="container">
  <h1 style="text-align: center; font-family: 'Black Han Sans', sans-serif; font-size: 60px;">장애인 생활 체육, 이대로 괜찮은가요?</h1>


  <%#= image_tag ("banddabi.png"),  style: 'height:250px; width:auto;' %>

  <%= link_to  "반다비 체육센터 2025년까지 150개 신규 건립 [장애인 우선사용]", "http://m.mcst.go.kr/m/s_notice/notice/noticeView.jsp?pTp=P&pTpCD=0302000000&pSeq=16824", class: "link" %><br>

  "일상에서 즐기는 생활밀착형 장애인 체육시설인 ‘반다비 체육센터’를 ’25년까지 150개를 신규로 건립한다. 
  시·군·구 단위로 건립되는 ‘반다비 체육센터’는 장애인이 우선적으로 사용하되, 비장애인도 함께 이용하는 통합시설로 운영될 계획이다. 
  체육관형, 수영장형, 종목별 특화형 등으로 세분화해 건립될 ‘반다비 체육센터’는 단순한 체육시설이 아닌 장애인 커뮤니티 센터 및 복합 문화체육시설로 기능할 것으로 기대된다."


  <h1 style="text-align: left; font-family: 'Black Han Sans', sans-serif; font-size: 40px;">1. 장애인 건강 실태 </h1><br>
  우리나라 장애인은 고령화, 만성질환 증가, 사고 및 재해 등의 이유로 계속 증가(252만명, 인구 5%; 보건복지부 2011)하고 있고, 장애인의 건강에 대한 관심이 높아지고 있다. 

  전국 장애인 등록 인구 : 2,545,637
  (증가 폭을 보여주면 좋을 듯) (3년마다)
  2001 1,134,177
  2004 1,610,994
  2007 2,104,889
  2010 2,517,312
  2013 2,501,112
  2017 2,545,637
  <%= image_tag ("people.png"),  style: 'height:450px; width:auto;' %>

  출처 : 보건복지부, 장애인현황 

  장애인은 장애 유형과 정도 등 장애 특성에 따라 이차장애 및 동반질환 등의 다양한 유형의 건강 상의 문제를 가지고 있다. 장애인은 일차장애로 인한 이차 장애의 발생위험을 가지고 있으며, 노화와 관련된 건강문제에 대한 높은 취약성, 건강을 위협하는 행동의 증가, 폭력 노출 위험, 의도 치 않은 부상 등의 다양한 건강위험요인을 가지고 있다. 국립재활원의 2016년 장애인건강관리사업에서 2014년 국민건강보험공단 건강검진 수검률을 분 석한 결과, 장애인 건강검진 수검률은 65.6%로 전체인구 평균 건강검진 수검률 74.4%에 비해 낮 은 수준이었다. 만성질환인 고혈압과 당뇨의 유병률은 전체인구와 비교했을 때, 장애인의 고혈 압 유병률은 43.6%(전체인구 28.9%), 당뇨 유병률은 19.5%(전체인구 11.1%)로 전체인구의 비해 높게 나타나 장애인이 만성질환에 취약계층임을 알 수 있었다. 


  <h1 style="text-align: left; font-family: 'Black Han Sans', sans-serif; font-size: 40px;">2. 장애인 생활 체육의 의의 </h1><br>

    첫째, 생활체육은 약해진 체력과 건강을 회복시켜 준다. 여러 가지 장애로 인한 운동부족은 기본적인 체력의 저하는 물론 신체적 균형을 잃게 함으로써 상해의 위험이나 질병의 가능성을 높게 한다. 
    특히 장애인의 경우 스 포츠는 단순히 즐기는 그 자체 외에도 장애부위의 기능감퇴를 예방하고 나아가 치료적 효과를 기할 수 있어 정상인보다 더 큰 의미를 가진다고 본다.

    둘째, 생활체육은 신체적, 정서적으로 안정감을 가져주며, 이에 대한 적 응력을 키워 준다. 자유로운 형태 속에서 이루어지는 운동은 체내 에너지 를 발산시켜 줌으로써 정서적 불안, 긴장 피로를 해소시켜 정신적, 정서적 안정을 높여준다. 

    셋째, 생활체육은 사회적 발달을 촉진시킨 동요들과의 스포츠 활동, 단 체행동 통해 자신을 통제하고 다른 사람의 입장을 이해하게 한다. 

    넷째, 생활체육은 장애의 치료 및 재활에 도움이 된다. 장애의 조건을 고려하여 생활체육 활동에 참가함으로써 장애를 치료 개선하고 체력의 증 진을 도와주고 복원 능력을 향상시켜 준다.

  <h1 style="text-align: left; font-family: 'Black Han Sans', sans-serif; font-size: 40px;">3. 장애인 생활 체육 참여율 </h1><br>

    이렇게 중요한데 참여율이 저조 

    장애인생활체육 참여율은 매년 증가추세 로 2008년 6.3%, 2009년 7%에서 2012년 10.6%, 2013년 12.3%, 2014년에는 14.1%로 증가하 였다. => 하지만 그래도 적다는걸 강조

  <h1 style="text-align: left; font-family: 'Black Han Sans', sans-serif; font-size: 40px;">4. 장애인 생활 체육 시설의 부족 </h1><br>
    장애인 체육 시설 현황[부족하다] : 
    55개 있다 => 문화체육관광부 / 보건복지부 / 지자체 관할  -> 다혜님 엑셀 파일

  <h1 style="text-align: left; font-family: 'Black Han Sans', sans-serif; font-size: 40px;">5. 우리가 고려한 조건들 </h1><br>
    1. 공공체육시설 이용 장애인 수 
    2. 생활체육 참여 장애인 수  
    3. 전국체전 종목 특화 1위 지역 
    4. 특수 학교 (아직 X)
    5. 기존 시설

  <h1 style="text-align: left; font-family: 'Black Han Sans', sans-serif; font-size: 40px;">6. 기존 시설을 고려한 예측 및 분석 </h1><br>
  <h1 style="text-align: left; font-family: 'Black Han Sans', sans-serif; font-size: 40px;">7. 기존 시설을 고려하지 않은 예측 및 분석 </h1><br>


</div>