// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 1.3rem;
		font-weight: 300;
    line-height: 1.65;
	}

.container {
  margin: 50px 20px;
}
.container h1 {
  font-size: 2.5rem;
}

.link {
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
}